In [46]:
# import modules
import pandas as pd
import numpy as np
import requests
import urllib.request, urllib.parse, urllib.error
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re
from datetime import datetime
from ratelimit import limits
from time import time, sleep
from random import randint
import matplotlib.pyplot as plt
%matplotlib inline
from warnings import warn

In [47]:
df1 = pd.read_csv('league_raw_data.csv')
df2 = pd.read_csv('league_raw_data_pt2.csv')

In [48]:
combined_data = pd.concat([df1, df2])

In [49]:
combined_data.to_csv('league_data.csv', index=False)

In [50]:
league_data = pd.read_csv('league_data.csv')

In [51]:
team = []
for i in league_data['teamId']:
    if i is 100:
        team.append('Blue')
    else:
        team.append('Red')

In [52]:
league_data['team'] = team

In [53]:
cols = ['gameId',
 'gameDuration',
 'gameVersion',
 'teamId', 'team',
 'win',
 'firstBlood',
 'firstTower',
 'firstInhibitor',
 'firstBaron',
 'firstDragon',
 'firstRiftHerald',
 'towerKills',
 'inhibitorKills',
 'baronKills',
 'dragonKills',
 'riftHeraldKills',
 'participantId',
 'kills',
 'deaths',
 'assists',
 'totalDamageDealtToChampions',
 'visionScore',
 'goldEarned',
 'champLevel',
 'totalMinionsKilled']

In [54]:
league_data = league_data[cols]

In [55]:
s = pd.Series(league_data.index // 5)
df = league_data[s.groupby(s).transform('count') == 5]

In [56]:
league_team_data = league_data.groupby(df.index // 5).agg({'gameId':'last','gameDuration':'last','gameVersion':'last',
                                        'teamId': 'last','team':'last','win':'last','firstBlood':'last',
                                        'firstTower':'last','firstInhibitor':'last',
                                        'firstBaron':'last','firstDragon':'last',
                                        'firstRiftHerald':'last','towerKills':'last', 
                                        'inhibitorKills':'last', 'baronKills':'last', 
                                        'dragonKills':'last','riftHeraldKills':'last',
                                        'kills':'sum', 'deaths':'sum', 'assists':'sum',
                                        'totalDamageDealtToChampions':'sum', 'visionScore':'sum',
                                        'goldEarned':'sum', 'champLevel':'mean',
                                        'totalMinionsKilled':'sum'})

In [57]:
league_team_data.rename(columns = {'champLevel':'averageChampLevel'}, inplace = True)
league_team_data['gameDuration'] = league_team_data.gameDuration.astype(int)
league_team_data.rename(columns = {'gameDuration':'gameDuration(seconds)'}, inplace = True)

In [59]:
league_team_data.to_csv('league_team_data.csv', index=False)

In [58]:
league_team_data

,gameId,gameDuration(seconds),gameVersion,teamId,team,win,firstBlood,firstTower,firstInhibitor,firstBaron,...,dragonKills,riftHeraldKills,kills,deaths,assists,totalDamageDealtToChampions,visionScore,goldEarned,averageChampLevel,totalMinionsKilled
0,3380752332,1425,10.8.317.3760,100,Blue,Win,True,True,True,True,...,4,2,26,7,49,60502,97,51396,13.4,586
1,3380752332,1425,10.8.317.3760,200,Red,Fail,False,False,False,False,...,0,0,7,26,15,33115,106,34647,11.2,474
2,3380718178,915,10.8.317.3760,100,Blue,Fail,False,False,False,False,...,0,1,6,17,14,25786,64,25552,9.0,361
3,3380718178,915,10.8.317.3760,200,Red,Win,True,False,False,False,...,2,0,17,6,20,30792,67,28068,9.4,324
4,3380672585,1189,10.8.317.3760,100,Blue,Win,True,True,False,False,...,1,1,26,12,35,47356,107,41914,11.8,503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31273,3333123950,1329,10.6.313.8894,200,Red,Fail,False,False,False,False,...,1,0,17,36,26,45682,119,40366,11.2,489
31274,3333058113,2104,10.6.313.8894,100,Blue,Win,False,True,False,False,...,3,1,33,33,62,121369,167,68732,16.8,781
31275,3333058113,2104,10.6.313.8894,200,Red,Fail,True,False,True,True,...,2,1,33,33,65,124156,189,68457,16.2,747
31276,3332433241,1370,10.6.313.8894,100,Blue,Win,True,True,True,True,...,1,2,34,14,63,82909,133,52991,13.4,548
31277,3332433241,1370,10.6.313.8894,200,Red,Fail,False,False,False,False,...,1,0,14,34,22,47680,105,34816,11.4,471